<ion-header>

  <ion-navbar>
    <ion-title>登录</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ion-list>
      <ion-item>
        <ion-label>用户名</ion-label>
        <ion-input type="text" formControlName="username" clearInput></ion-input>
      </ion-item>
      <div *ngIf="!loginForm.controls.username.valid && loginForm.controls.username.touched" class="validation-failed"> 请输入正确用户名</div>

      <ion-item>
        <ion-label>密　码</ion-label>
        <ion-input type="password" formControlName="password" clearInput></ion-input>
      </ion-item>
      <div *ngIf="!loginForm.controls.password.valid" class="validation-failed">请输入密码</div>

    </ion-list>
    <div padding-horizontal>
      <button ion-button block type="submit" [disabled]="!loginForm.valid||submitted">登　录</button>
    </div>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col text-center (click)="findPassword()">
        <button ion-button small clear color="primary">找回密码</button>
      </ion-col>
      <ion-col text-center (click)="toRegister()">
        <button ion-button small clear color="primary">注　册</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
