page-school-menu{
  .bg-color{
    background-color: #efeeee;
  }
  .menu-header{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.25em;
    text-align: center;
  }
  .menu-label{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.15em;
  }
  .menu-icon{
    float: left;
    margin-top: 1%;
  }
  ion-label{
    margin-top: 0;
    margin-bottom: 0;
  }
  ion-card-header{
    padding: 4px 10px;
  }
  .card-header-ios{
    padding: 4px 10px;
  }
  ion-card-content{
    padding: 0;
  }
  .card-content-ios{
    padding-bottom: 0;
  }
  .label{
    margin-top: 0;
    margin-bottom: 0;
  }
  .menu-item{
    margin-top: 0;
    margin-bottom: 0;
    color:#888888;
    font-size: 1em;
  }
 /* .card-background-page {
    ion-card {
      position: relative;
      text-align: center;
      height: inherit;
    }
    .card-title {
      position: absolute;
      top: 1%;
      font-size: 1.6em;
      padding: 6px;
      width: 100%;
      text-align: left;
    }
    .card-subtitle {
      font-size: 1.0em;
      position: absolute;
      width: 100%;
      color: #fff;
    }
  }
*/
  ion-row{
    text-align: center
  }
  .header{
    border-bottom: 1px solid #000;
  }
  .table-bg{
    background-color: #0c60ee;
  }
  .table-item{
    display: block;
  }
  ion-row ion-col{
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  ion-row.active {
    background-color: #f5f5f5;
  }

  ion-row.success {
    background-color: #dff0d8;
  }

  ion-row.warning {
    background-color: #fcf8e3;
  }

  ion-row.error {
    background-color: #f2dede;
  }
  .center-border{
    border-left: 1px solid #000;
    border-right: 1px solid #000;
  }
}
